<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EfficientlyLazy.IdentityGenerator" version="0.9.4" targetFramework="net452" />
  <package id="RandomGen" version="0.4.1" targetFramework="net452" />
  <package id="RandomNameGenerator" version="1.0.4" targetFramework="net452" />
  <package id="recurly-api-client" version="1.4.7" targetFramework="net452" />
</packages>